USER_POSTGRES_DB_HOST=localhost
USER_POSTGRES_DB_USER=asfasf
USER_POSTGRES_DB_NAME=ecommerce_user
USER_POSTGRES_DB_PORT=5432
USER_POSTGRES_DB_PASSWORD=postgres
ACCESS_TOKEN_EXPIRE_MINUTES=1800
REFRESH_TOKEN_EXPIRE_MINUTES=10080
ALGORITHM=HS256
JWT_SECRET_KEY=OXQrkA2fasdsa1j
JWT_REFRESH_SECRET_KEY=sadsad
MAIL_USERNAME=admin@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_FROM=admin@gmail.com
MAIL_PASSWORD=afkdhjs
MAIL_PORT=587

ROOT_URL=http://www.localhost:8000